body {
  padding-top: 50px;
}
.starter-template {
  padding: 30px 15px;
  text-align: left;
}
.container {
	max-width: 100%;
	width: 100%;
}
.list-group .list-heading {
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f5f5f5
}
input #note-title {
	width: 100%;
	border: 0;
}

/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#editor {
	max-height: 600px;
	height: 600px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
  padding: 4px;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

/* Small hack for bootstrap to remove rounded corners from sections :-) */
.list-group-item.np-section:last-child{
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.list-group-item.np-section:first-child{
	margin-top: 1px;
}